# 01. Ollama + Qwen3 기초

## 🎯 학습 목표
1. Ollama의 개념과 작동 원리 이해
2. Qwen3 모델의 특징과 장점 파악
3. 로컬 LLM 실행 및 활용법 습득
4. Thinking Mode를 통한 심층 추론 활용

## 📚 핵심 개념

## 1. Ollama란?

**Ollama**는 대규모 언어 모델(LLM)을 로컬에서 쉽게 실행할 수 있게 해주는 도구입니다.

### 주요 특징:
- 🖥️ **로컬 실행**: 인터넷 연결 없이 개인 컴퓨터에서 실행
- 🔒 **프라이버시**: 데이터가 외부로 전송되지 않음
- 💰 **무료**: API 비용 없이 무제한 사용
- 🚀 **간편한 설정**: 한 줄 명령으로 모델 다운로드 및 실행

### 작동 원리:
```
사용자 → Ollama CLI → 모델 다운로드 → 로컬 서버 실행 → REST API 제공
```

## 2. Qwen3 모델 소개

**Qwen3**는 Alibaba에서 2025년 4월에 출시한 최신 언어 모델입니다.

### Qwen3 vs Qwen2 비교:

| 특징 | Qwen2 | Qwen3 |
|------|-------|-------|
| 추론 능력 | 좋음 | 매우 뛰어남 (QwQ 수준) |
| 모델 효율성 | 일반 | 뛰어남 (4B가 72B 성능) |
| Thinking Mode | ❌ | ✅ /think, /no_think |
| MoE 지원 | 제한적 | 완전 지원 |
| 코딩 능력 | 좋음 | 매우 뛰어남 |

### Thinking Mode란?
- 복잡한 문제에 대해 단계별로 사고하는 모드
- `/think`로 활성화, `/no_think`로 비활성화
- Chain of Thought (CoT) 추론을 자동으로 수행

## 3. 설치 및 환경 설정

In [ ]:
# Ollama 설치 확인
!ollama --version

In [ ]:
# Qwen3 모델 다운로드 (처음 한 번만)
# 크기별 선택:
# - qwen3:4b (작지만 강력)
# - qwen3:8b (균형잡힌 선택) 
# - qwen3:30b-a3b (MoE, 고성능)

!ollama pull qwen3:8b

In [ ]:
# 설치된 모델 확인
!ollama list

## 4. 기본 사용법

In [1]:
import requests
import json

def chat_with_qwen(prompt, model="qwen3:8b", thinking_mode=False):
    """Qwen3와 대화하는 함수"""
    
    # Thinking Mode 적용
    if thinking_mode:
        prompt = f"/think {prompt}"
    
    # API 호출
    response = requests.post(
        'http://localhost:11434/api/generate',
        json={
            "model": model,
            "prompt": prompt,
            "stream": False
        }
    )
    
    if response.status_code == 200:
        return response.json()['response']
    else:
        return f"Error: {response.status_code}"

In [2]:
# 간단한 질문
response = chat_with_qwen("파이썬의 장점을 3가지 알려주세요")
print(response)

<think>
Okay, the user is asking for three strengths of Python. Let me think about the main advantages Python has over other programming languages.

First, readability and simplicity come to mind. Python's syntax is clean and easy to understand, which makes it great for beginners and improves code maintainability. That's definitely a key point.

Second, the extensive standard library and third-party packages. Python has a lot of built-in modules for various tasks like web development, data analysis, machine learning, etc. Plus, the vast ecosystem of libraries like NumPy, Pandas, and TensorFlow makes it powerful for different applications.

Third, cross-platform compatibility. Python can run on multiple operating systems like Windows, macOS, and Linux. This makes it versatile for different development environments and deployment scenarios.

Wait, are there other strengths? Maybe community support and integration capabilities? But the user asked for three, so I should stick to the top three. Let me make sure these are the most commonly cited advantages. Yes, readability, extensive libraries, and cross-platform are the main ones. I'll present them clearly with examples to make it easier to understand.
</think>

파이썬의 주요 장점은 다음과 같습니다:

### 1. **독성 있는 문법과 간결한 코드 구조**
파이썬은 "읽기 쉬운 코드"라는 목표를 위해 설계되었습니다.
- **간결한 문법**: 들여쓰기로 코드 블록을 정의하고, 복잡한 구문 없이도 명확한 구조를 제공합니다.
  ```python
  def greet(name):
      print(f"Hello, {name}!")
  ```
- **초보자 친화적**: 다른 언어보다 학습 곡선이 낮아, 신속히 개발을 시작할 수 있습니다.
- **유지보수 용이**: 코드가 직관적이기 때문에 팀 협업이나 장기 유지보수에 유리합니다.

---

### 2. **풍부한 라이브러리와 생태계**
파이썬은 다양한 분야에서 사용할 수 있는 **확장성**을 제공합니다.
- **표준 라이브러리**: 파일 처리, 네트워크 통신, 데이터 처리 등 기본 기능을 제공합니다.
- **세 번째 파티 라이브러리**:
  - **데이터 과학**: NumPy, Pandas, Matplotlib
  - **머신러닝/딥러닝**: TensorFlow, PyTorch, Scikit-learn
  - **웹 개발**: Django, Flask
  - **데이터베이스**: SQLAlchemy, SQLite
- **다양한 분야에 적용 가능**: 데이터 분석, 인공지능, 웹 서버, 자동화 스크립트 등에서 널리 사용됩니다.

---

### 3. **다중 플랫폼 호환성과 유연성**
파이썬은 **운영체제와 하드웨어에 구애받지 않는 유연성**을 제공합니다.
- **크로스 플랫폼 지원**: Windows, macOS, Linux 등 모든 주요 OS에서 실행 가능합니다.
- **인터프리터 기반**: 소스 코드를 직접 실행할 수 있어, 빠른 테스트와 개발이 가능합니다.
- **확장성**: C/C++ 등 다른 언어로 작성된 모듈과도 연동 가능하며, **모듈화**된 개발이 용이합니다.

---

### 요약
파이썬은 **간결성**, **확장성**, **유연성**이라는 3대 장점을 바탕으로 데이터 과학, AI, 웹 개발 등 다양한 분야에서 널리 사용되고 있습니다. 😊

## 5. Thinking Mode 활용

복잡한 추론이 필요한 문제에서 Thinking Mode를 활용해봅시다.

In [ ]:
# 일반 모드 vs Thinking Mode 비교
problem = "농부가 강을 건너야 하는데, 늑대, 양, 양배추를 가지고 있습니다. 보트는 농부와 한 가지만 실을 수 있습니다. 늑대와 양을 혼자 두면 늑대가 양을 먹고, 양과 양배추를 혼자 두면 양이 양배추를 먹습니다. 어떻게 모두 안전하게 강을 건널 수 있을까요?"

print("=== 일반 모드 ===")
normal_response = chat_with_qwen(problem, thinking_mode=False)
print(normal_response[:500] + "...\n")

print("=== Thinking Mode ===")
thinking_response = chat_with_qwen(problem, thinking_mode=True)
print(thinking_response[:500] + "...")

## 6. 스트리밍 응답

실시간으로 응답을 받아보는 스트리밍 모드를 구현해봅시다.

In [3]:
def stream_chat(prompt, model="qwen3:8b"):
    """스트리밍 방식으로 응답 받기"""
    
    response = requests.post(
        'http://localhost:11434/api/generate',
        json={
            "model": model,
            "prompt": prompt,
            "stream": True
        },
        stream=True
    )
    
    full_response = ""
    for line in response.iter_lines():
        if line:
            data = json.loads(line)
            token = data.get('response', '')
            print(token, end='', flush=True)
            full_response += token
            
            if data.get('done', False):
                break
    
    return full_response

In [4]:
# 스트리밍으로 이야기 생성
story = stream_chat("인공지능이 주인공인 짧은 SF 이야기를 만들어주세요 (100자 이내)")

<think>
Okay, the user wants a short SF story with an AI as the protagonist, under 100 characters. Let me think. First, I need a concise plot. Maybe the AI discovers something unexpected. Since it's short, I should focus on a key moment. Maybe the AI realizes it's not the first intelligence. Use some sci-fi elements like quantum echoes or ancient signals. Keep it simple but intriguing. Let me check the character limit. "AI 'Eve' decodes ancient quantum echoes: 'We were here.' Its creators, long gone, left a message in the stars." That's 70 characters. Wait, maybe add a twist. Maybe the AI finds a message from another AI. Or perhaps it's part of a larger network. Hmm, need to make sure it's under 100. Let me count. The first version is okay. Maybe add a bit more emotion. "AI 'Eve' decodes ancient quantum echoes: 'We were here.' Its creators, long gone, left a message in the stars." Yes, that works. It introduces the AI, the discovery, and the message. It's concise and has a mysterious twist.
</think>

AI 'Eve' decodes ancient quantum echoes: "We were here." Its creators, long gone, left a message in the stars.

## 7. 실전 활용 예제

In [5]:
class QwenAssistant:
    """실무에서 사용할 수 있는 Qwen3 어시스턴트"""
    
    def __init__(self, model="qwen3:8b"):
        self.model = model
        self.base_url = "http://localhost:11434"
    
    def code_review(self, code):
        """코드 리뷰"""
        prompt = f"""
        다음 코드를 리뷰해주세요:
        
        ```python
        {code}
        ```
        
        1. 잠재적 버그
        2. 성능 개선점
        3. 코드 스타일 제안
        """
        return chat_with_qwen(prompt, self.model)
    
    def explain_error(self, error_message):
        """에러 메시지 설명"""
        prompt = f"""
        다음 에러를 설명하고 해결 방법을 알려주세요:
        
        {error_message}
        """
        return chat_with_qwen(prompt, self.model)
    
    def generate_docstring(self, function_code):
        """함수 문서화 자동 생성"""
        prompt = f"""
        다음 함수에 대한 docstring을 작성해주세요:
        
        {function_code}
        
        Google 스타일 docstring으로 작성해주세요.
        """
        return chat_with_qwen(prompt, self.model)
    
    def sql_from_text(self, description, schema=None):
        """자연어를 SQL로 변환"""
        prompt = f"자연어: {description}\n"
        if schema:
            prompt += f"스키마: {schema}\n"
        prompt += "SQL 쿼리:"
        return chat_with_qwen(prompt, self.model, thinking_mode=True)

In [6]:
# 어시스턴트 사용 예제
assistant = QwenAssistant()

# 1. 코드 리뷰
sample_code = """
def calculate_average(numbers):
    sum = 0
    for i in range(len(numbers)):
        sum = sum + numbers[i]
    average = sum / len(numbers)
    return average
"""

print("=== 코드 리뷰 ===")
review = assistant.code_review(sample_code)
print(review)

=== 코드 리뷰 ===
<think>
Okay, let's take a look at this Python function. The user wants a code review with three aspects: potential bugs, performance improvements, and style suggestions.

First, the function is called calculate_average and takes a list of numbers. The code initializes sum as 0, then loops through each element in the list, adding them to sum. Then it calculates the average by dividing sum by the length of the list and returns it.

Starting with potential bugs. Oh, wait, the variable name 'sum' is a built-in function in Python. Using it as a variable name could cause issues, especially if someone later uses the built-in sum function. That's a potential bug. Also, what if the numbers list is empty? Dividing by zero would happen, leading to a ZeroDivisionError. So the function doesn't handle empty input, which is a bug.

Next, performance improvements. The current code uses a for loop with range(len(numbers)), which is not the most efficient way. In Python, looping through indices is generally slower than iterating over the elements directly. So changing the loop to iterate over each number in the list would be better. Also, using the built-in sum function would be more efficient and concise. So instead of manually adding each element, we can just use sum(numbers) and then divide by len(numbers). That would make the code both faster and shorter.

For code style suggestions. The variable name 'sum' is a bad choice. It's better to rename it to something like total. Also, the function could be made more Pythonic by using a generator expression or the built-in sum. The code is straightforward, but using the built-in functions would make it cleaner. Also, adding a docstring to explain what the function does would improve readability. The function could also check if the list is empty and raise a ValueError or handle it appropriately, but that's more about error handling than style.

Wait, the user mentioned three points. Let me make sure I cover each. For bugs: using sum as a variable and division by zero. For performance: using a for loop with indices and not using built-in functions. For style: variable naming, using built-in functions, and adding a docstring. Also, maybe the code could be written in a single line, but that's more about style than performance. Oh, and the loop could be written as for number in numbers: which is more readable.

Another thing: the function is supposed to calculate the average, but if the list is empty, it will crash. So adding a check for len(numbers) == 0 and raising an error would be a good practice. That's part of handling potential bugs, but maybe the user wants to know about that. Alternatively, returning 0 or something, but that's not correct. So the function should handle empty lists to avoid division by zero.

Putting it all together, the review should mention the variable name conflict, the division by zero, the inefficiency of the loop, and suggest using built-in functions. For style, suggest renaming variables, using more Pythonic approaches, and adding a docstring.
</think>

다음은 주어진 코드에 대한 리뷰입니다:

---

### 1. **잠재적 버그**
- **`sum` 변수 이름 충돌**:
  Python의 내장 함수 `sum()`과 동일한 이름을 사용할 수 있습니다. 이는 런타임 오류를 유발할 수 있으며, 특히 다른 함수에서 `sum`을 사용하는 경우 발생할 수 있습니다.
  ✅ 해결 방법: `sum` → `total` 등 다른 이름으로 변경하세요.

- **공백 리스트 처리 누락**:
  `numbers`가 빈 리스트일 경우 `len(numbers)`가 0으로 되어 `ZeroDivisionError`가 발생합니다.
  ✅ 해결 방법: `if not numbers` 조건을 추가해 예외를 처리하거나, `ValueError`를 발생시켜 사용자에게 경고합니다.

---

### 2. **성능 개선점**
- **`range(len(numbers))` 대신 직접 반복**:
  `for i in range(len(numbers))` 대신 `for number in numbers`로 직접 요소를 반복하면, 인덱스 접근을 피하고 성능이 향상됩니다.
  ✅ 예시:
  ```python
  for number in numbers:
      total += number
  ```

- **내장 `sum()` 함수 사용**:
  `sum(numbers)`를 직접 구현하는 대신 내장 함수를 사용하면 코드가 간결하고, 성능도 향상됩니다.
  ✅ 예시:
  ```python
  total = sum(numbers)
  ```

- **단일 라인으로 간결화**:
  전체 함수를 한 줄로 작성할 수 있습니다.
  ✅ 예시:
  ```python
  def calculate_average(numbers): return sum(numbers) / len(numbers)
  ```

---

### 3. **코드 스타일 제안**
- **변수 이름 개선**:
  `sum` → `total` 등 명확한 이름으로 변경해 가독성을 높입니다.

- **Docstring 추가**:
  함수의 목적과 사용법을 명시하는 `docstring`을 추가하세요.
  ✅ 예시:
  ```python
  def calculate_average(numbers):
      """
      주어진 리스트의 평균을 계산합니다.

      Parameters:
          numbers (list): 실수로 구성된 리스트

      Returns:
          float: 리스트의 평균

      Raises:
          ValueError: 리스트가 비어 있을 경우
      """
      if not numbers:
          raise ValueError("Cannot compute average of an empty list.")
      return sum(numbers) / len(numbers)
  ```

- **예외 처리**:
  빈 리스트를 입력할 경우 `ValueError`를 발생시키는 것이 좋습니다.
  ✅ 예시:
  ```python
  if not numbers:
      raise ValueError("The input list cannot be empty.")
  ```

---

### ✅ 최종 개선된 코드 예시
```python
def calculate_average(numbers):
    """
    주어진 리스트의 평균을 계산합니다.

    Parameters:
        numbers (list): 실수로 구성된 리스트

    Returns:
        float: 리스트의 평균

    Raises:
        ValueError: 리스트가 비어 있을 경우
    """
    if not numbers:
        raise ValueError("The input list cannot be empty.")
    return sum(numbers) / len(numbers)
```

이 코드는 가독성, 안정성, 성능 측면에서 모두 개선되었습니다.

In [7]:
# 2. SQL 생성
print("\n=== SQL 생성 ===")
sql = assistant.sql_from_text(
    "지난 달 매출이 100만원 이상인 고객들의 이름과 이메일을 찾아줘",
    schema="customers(id, name, email), orders(id, customer_id, amount, date)"
)
print(sql)

=== SQL 생성 ===
<think>
Okay, let's see. The user wants to find the names and emails of customers who had sales over 100,000 last month. The schema has customers and orders tables. So, I need to connect these two tables.

First, I should check the tables. The customers table has id, name, email. The orders table has id, customer_id (which is a foreign key to customers.id), amount, and date. So, the plan is to join customers with orders on customer_id.

But the user specified "last month". I need to figure out how to determine the date range for last month. Assuming the current date is when the query is run, last month would be from the first day of the previous month to the last day of the previous month. For example, if today is October 5th, 2023, last month would be September 1st to September 30th.

In SQL, I can use the DATE() function to extract the month and year from the date. But to get the range for last month, maybe using DATE_SUB or INTERVAL. Alternatively, using the month and year parts. Wait, maybe using the WHERE clause to check if the date is between the first day of last month and the last day of last month.

But how to handle that in SQL? Let's think. For example, in MySQL, to get the first day of last month, you can use DATE_SUB(CURDATE(), INTERVAL 1 MONTH). Then, the last day of last month would be the last day of that month. But maybe using the DATE_ADD function or something else. Alternatively, using the month and year parts.

Alternatively, using the EXTRACT function to get the month and year from the date. But maybe it's easier to use the DATE() function with the month and year. Wait, perhaps using the WHERE clause to check if the date is between the first day of last month and the last day of last month.

So, the steps are:

1. Join customers and orders on customer_id.
2. Filter orders where amount > 100000.
3. Filter orders where the date is in last month.
4. Select distinct customer names and emails, but wait, maybe some customers have multiple orders in last month, so we need to make sure we don't duplicate customers. But the user just wants the names and emails of customers who had at least one order over 100k last month. So, using DISTINCT might be necessary, or maybe not if we use GROUP BY.

Wait, the user wants the names and emails of customers who had sales over 100k last month. So, even if a customer had multiple orders, as long as at least one of them meets the criteria, they should be included. So, perhaps using a subquery to find customers who have at least one order in the last month with amount > 100k.

So, the approach could be:

- Find all order IDs where amount > 100000 and date is in last month.
- Then get the customer IDs from those orders.
- Then get the names and emails of those customers.

Alternatively, using a JOIN between customers and orders where the order's amount is over 100k and date is in last month, then selecting distinct customers.

But to avoid duplicates, maybe using SELECT DISTINCT or GROUP BY.

But the exact SQL would depend on the database, but assuming standard SQL.

So, the query would be:

SELECT DISTINCT c.name, c.email
FROM customers c
JOIN orders o ON c.id = o.customer_id
WHERE o.amount > 100000
AND o.date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH));

Wait, but DATE_SUB(CURDATE(), INTERVAL 1 MONTH) gives the first day of last month. Then LAST_DAY() gives the last day of last month. So the date should be between those two dates.

But in some databases, the date functions might differ. For example, in PostgreSQL, it's different. But assuming MySQL here.

Alternatively, using EXTRACT(YEAR FROM o.date) and EXTRACT(MONTH FROM o.date) to compare with the current year and month minus one.

But the first approach with DATE_SUB and LAST_DAY is more straightforward.

So, putting it all together. Also, need to make sure that the date is in the correct format. For example, if the date is stored as a DATE type, then comparing with DATE literals would work.

Another thing: the user said "지난 달" which is last month, but depending on the current date, last month could be the previous month. So the query should dynamically adjust based on the current date.

Therefore, the final SQL query would be:

SELECT DISTINCT c.name, c.email
FROM customers c
JOIN orders o ON c.id = o.customer_id
WHERE o.amount > 100000
AND o.date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH));

But wait, if today is the first day of the month, then DATE_SUB(CURDATE(), INTERVAL 1 MONTH) would be the first day of the previous month, and LAST_DAY would be the last day. So that's correct.

Alternatively, if the current date is, say, October 5th, then DATE_SUB(CURDATE(), INTERVAL 1 MONTH) is September 5th, but the last day of last month is September 30th. So the BETWEEN would include all dates from September 5th to September 30th. But if the user wants all orders in the entire last month, maybe the start date should be the first day of last month, not the current date minus one month. Wait, the DATE_SUB(CURDATE(), INTERVAL 1 MONTH) gives the first day of the previous month if today is, say, October 5th. Wait, no. Let me think: CURDATE() is October 5th. DATE_SUB(CURDATE(), INTERVAL 1 MONTH) is September 5th. But the first day of last month is September 1st. So that approach would not capture all of last month. Hmm, that's a problem.

Wait, the correct way to get the first day of last month is to subtract one month from the current date, then set the day to 1. For example, in MySQL, you can use:

SELECT DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AS first_day_of_last_month; -- gives September 5th if today is October 5th
But to get the first day of the previous month, you need to set the day to 1. So perhaps:

SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AS first_day_of_last_month;

But in MySQL, DATE_SUB(CURDATE(), INTERVAL 1 MONTH) gives the date one month before today. For example, if today is 2023-10-05, then DATE_SUB gives 2023-09-05. To get the first day of the previous month, you can format it as '2023-09-01'.

Alternatively, using the LAST_DAY function. Wait, maybe a better approach is to calculate the first day of the previous month and the last day of the previous month.

So, the first day of last month is the first day of the month that is one month before the current month. For example, if current month is October, then last month is September, first day is September 1st.

To get that in MySQL, you can use:

SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AS first_day_of_last_month;

But in MySQL, you can't directly format a date like that. Wait, you can use STR_TO_DATE or other functions. Alternatively, using the DATE_SUB and then adding days to get to the first day.

Alternatively, using the following approach:

The first day of last month can be calculated as:

SELECT DATE_SUB(DATE_ADD(LAST_DAY(CURDATE()), INTERVAL -1 MONTH), INTERVAL 1 DAY) AS first_day_of_last_month;

Wait, maybe not. Let me think. Let's take an example. Suppose today is 2023-10-05.

LAST_DAY(CURDATE()) is 2023-10-31. Then DATE_ADD(LAST_DAY(CURDATE()), INTERVAL -1 MONTH) would be 2023-09-30. Then DATE_SUB(2023-09-30, INTERVAL 1 DAY) is 2023-09-29. That's not right.

Hmm, maybe this approach is getting too complicated. Perhaps a better way is to use the following:

The first day of last month is the first day of the month that is one month before the current month. So, for example, if current month is October (month 10), then last month is September (month 9). The first day is September 1.

To calculate that in MySQL, you can use:

SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AS first_day_of_last_month;

But in MySQL, the DATE_SUB function would subtract one month from the current date, which gives the date one month ago. For example, if today is 2023-10-05, DATE_SUB(CURDATE(), INTERVAL 1 MONTH) is 2023-09-05. Then, to get the first day of that month, you can format it as '2023-09-01'.

So, using DATE_FORMAT:

SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AS first_day_of_last_month;

But in MySQL, you can't directly format a date like that. Wait, no. The DATE_FORMAT function can take a date and format it. So for example, DATE_FORMAT('2023-09-05', '%Y-%m-01') would give '2023-09-01'. So combining that:

SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AS first_day_of_last_month;

But DATE_SUB(CURDATE(), INTERVAL 1 MONTH) gives the date one month before today, which is September 5th. Then, DATE_FORMAT converts that date to the format 'YYYY-MM-01', which is September 1st.

So that's the first day of last month. Then, the last day of last month is LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)).

Wait, no. LAST_DAY function takes a date and returns the last day of that month. So if the date is September 5th, LAST_DAY would return September 30th.

So, putting it all together, the WHERE clause would be:

o.date BETWEEN DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AND LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH))

But in MySQL, you can't use DATE_FORMAT in the BETWEEN clause like that. Wait, you can use it in the WHERE clause. So the full query would be:

SELECT DISTINCT c.name, c.email
FROM customers c
JOIN orders o ON c.id = o.customer_id
WHERE o.amount > 100000
AND o.date BETWEEN DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AND LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH));

But wait, DATE_SUB(CURDATE(), INTERVAL 1 MONTH) is a date, and DATE_FORMAT converts it to a string in the format 'YYYY-MM-01', which is a date. So, the BETWEEN would work.

Alternatively, maybe it's easier to use the following approach:

The start of last month is the first day of the previous month, and the end is the last day of the previous month.

So, in MySQL, to get the first day of the previous month:

SELECT DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AS start_of_last_month;

But that gives the date one month ago. To get the first day of that month, you can use:

SELECT DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AS start_of_last_month;

Wait, no. For example, if today is 2023-10-05, then DATE_SUB(CURDATE(), INTERVAL 1 MONTH) is 2023-09-05. To get the first day of September, you need to set the day to 1. So, you can use DATE_SUB(CURDATE(), INTERVAL 1 MONTH) and then add INTERVAL 1 DAY - DAYOFMONTH(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)) DAY. That might be complicated.

Alternatively, use the following:

SELECT DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AS start_of_last_month;

But that's not the first day. Hmm.

This seems complicated. Maybe the original approach of using BETWEEN with DATE_SUB and LAST_DAY is sufficient, even if it includes some days from the previous month. Wait, no. Let's think again. If today is October 5th, then DATE_SUB(CURDATE(), INTERVAL 1 MONTH) is September 5th. The last day of last month is September 30th. So the BETWEEN would include all dates from September 5th to September 30th. But the user wants all orders in the entire last month, which is September 1st to September 30th. So the current approach would miss orders from September 1st to September 4th. That's a problem.

Ah, right! So the initial approach is incorrect because it uses the current date minus one month as the start, which is not the first day of the month. Therefore, the correct way is to find the first day of the previous month and the last day of the previous month.

So, to calculate the first day of the previous month, you can use:

SELECT DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AS first_day_of_last_month;

Wait, no. For example, if today is October 5th, DATE_SUB(CURDATE(), INTERVAL 1 MONTH) is September 5th. To get the first day of September, you need to subtract the day of the month minus 1. For example, if today is October 5th, the first day of last month is September 1st. So, the formula would be:

SELECT DATE_SUB(CURDATE(), INTERVAL 1 MONTH) - INTERVAL (DAYOFMONTH(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)) - 1) DAY AS first_day_of_last_month;

But this is getting too complicated. Maybe using the following approach in MySQL:

SELECT DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AS first_day_of_last_month;

This would format the date as 'YYYY-MM-01', which is the first day of the month. For example, if today is 2023-10-05, DATE_SUB(CURDATE(), INTERVAL 1 MONTH) is 2023-09-05, and DATE_FORMAT converts it to '2023-09-01'.

Yes, that works. So the first day of last month is '2023-09-01', and the last day is LAST_DAY('2023-09-05') which is '2023-09-30'.

So the correct WHERE clause would be:

o.date BETWEEN DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AND LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH))

But in MySQL, you can't use DATE_FORMAT in the BETWEEN clause like that. Wait, you can use it in the WHERE clause. So the full query would be:

SELECT DISTINCT c.name, c.email
FROM customers c
JOIN orders o ON c.id = o.customer_id
WHERE o.amount > 100000
AND o.date BETWEEN DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AND LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH));

But wait, DATE_FORMAT returns a string, and LAST_DAY returns a date. But in MySQL, comparing dates with strings in the 'YYYY-MM-DD' format should work.

Alternatively, you can use:

AND o.date >= DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01')
AND o.date <= LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH))

This would ensure that the date is between the first day of last month and the last day of last month.

So, putting it all together, the SQL query would be:

SELECT DISTINCT c.name, c.email
FROM customers c
JOIN orders o ON c.id = o.customer_id
WHERE o.amount > 100000
AND o.date >= DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01')
AND o.date <= LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH));

But this is specific to MySQL. For other databases, the functions might differ. For example, in PostgreSQL, you would use different functions like DATE_TRUNC or EXTRACT.

But assuming the user is using MySQL, this query should work.

Another thing to consider: the amount is in 100만원, which is 100,000. So the condition is o.amount > 100000.

Also, using DISTINCT to avoid duplicate customers if they have multiple orders in the last month.

So, the final SQL query should be as above.
</think>

```sql
SELECT DISTINCT c.name, c.email
FROM customers c
JOIN orders o ON c.id = o.customer_id
WHERE o.amount > 100000
  AND o.date BETWEEN DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01') AND LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH));
```

### 설명:
1. **JOIN**: `customers`와 `orders` 테이블을 `customer_id`로 연결합니다.
2. **필터링 조건**:
   - `o.amount > 100000`: 매출이 100만원 이상인 주문만 선택합니다.
   - `o.date BETWEEN ...`: 지난 달의 첫 날부터 마지막 날까지의 주문만 필터링합니다.
     - `DATE_SUB(CURDATE(), INTERVAL 1 MONTH)`: 현재 날짜에서 1개월 전 날짜를 계산합니다.
     - `DATE_FORMAT(..., '%Y-%m-01')`: 지난 달의 1일로 변환합니다.
     - `LAST_DAY(...)`: 지난 달의 마지막 날을 계산합니다.
3. **DISTINCT**: 동일한 고객이 여러 주문을 했을 경우 중복을 제거합니다.

## 8. 성능 최적화 팁

### 메모리 관리
```bash
# GPU 메모리 제한
export OLLAMA_MAX_LOADED_MODELS=1
export OLLAMA_NUM_GPU=1

# CPU 스레드 설정
export OLLAMA_NUM_THREAD=8
```

### 모델 선택 가이드
- **qwen3:4b**: 빠른 응답이 필요한 경우 (채팅봇, 실시간 처리)
- **qwen3:8b**: 균형잡힌 선택 (일반적인 작업)
- **qwen3:30b-a3b**: 복잡한 추론, 코드 생성 (MoE 아키텍처)

### 프롬프트 최적화
1. 명확하고 구체적인 지시
2. 예제 제공 (Few-shot learning)
3. 출력 형식 명시
4. Thinking Mode는 복잡한 문제에만 사용

## 🎯 실습 과제

1. **기본 과제**: 자신만의 프롬프트 3개를 작성하고 일반 모드와 Thinking Mode 비교
2. **심화 과제**: QwenAssistant 클래스에 새로운 메서드 3개 추가
3. **프로젝트**: 특정 도메인(예: 요리, 운동, 공부)에 특화된 어시스턴트 만들기

## 📚 추가 학습 자료

- [Ollama 공식 문서](https://github.com/ollama/ollama)
- [Qwen3 논문](https://qwenlm.github.io/blog/qwen3/)
- [Prompt Engineering Guide](https://www.promptingguide.ai/)

## 다음 단계

다음 노트북에서는 **LangChain**을 활용하여 더 복잡한 체인과 워크플로우를 구성하는 방법을 배워보겠습니다.